<div *ngIf="user">
  <div *ngIf="isDone">
    <div class="alert alert-success my-1" role="alert">
      {{ success }}
    </div>
  </div>
  Your profile

  <form #form="ngForm" (ngSubmit)="updateUser()">
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="city">Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="user.username" #username="ngModel"
            required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="city">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #username="ngModel"
            required />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="city">E-mail</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="user.email" #username="ngModel" required />
        </div>
      </div>
    </div>
    <div>
      <br />
      <button [disabled]="loading" class="btn btn-success">Save</button>
    </div>
  </form>
</div>