<nav class="navbar navbar-expand-lg navbar-dark blue-gradient">
  <div class="container">
    <a class="navbar-brand" routerLink="/main">Index</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="basicExampleNav">
      <ul class="navbar-nav mr-auto">
      
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/discs">Discs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/discs/add">Add disc</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link text-white" routerLink="/cart">Shopping cart</a>
        </li>

        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link text-white" routerLink="/orders">Your orders</a>
        </li>

        <li class="nav-item" *ngIf="isAuthenticated()">
            <a class="nav-link text-white" routerLink="/profile">Your profile</a>
          </li>

        <li class="nav-item" *ngIf="!isAuthenticated()">
          <a class="nav-link text-white" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated()">
          <a class="nav-link" routerLink="/register">Sign up</a>
        </li>

        <li class="nav-item" *ngIf="isAuthenticated()">
          <div (click)="logout()" class="nav-link">Logout</div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--
<mat-progress-bar class="progress success-color-dark" mode="indeterminate"></mat-progress-bar>
-->