<div class="container">
  <div *ngIf="isInvalid">
      <div class="alert alert-danger my-1" role="alert">
      {{ invalidText }}
      </div>
  </div>
  <div *ngIf="info">
      <div class="alert alert-success my-1" role="alert">
       You have successfully logged in. <a routerLink="/discs">Click here </a> if you are not redirected
      </div>
  </div>
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div [ngClass]="{ 'has-error': f.submitted && !username.valid }" class="md-form">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
        required />
      <div *ngIf="f.submitted
        && !username.valid">Username is required</div>
    </div>
    <div class="md-form" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
        required />
      <div *ngIf="f.submitted
        && !password.valid">Password is required</div>
    </div>
    <div>
      <br />
      <button [disabled]="loading" class="btn btn-success">Login</button>
    </div>
  </form>
</div>