<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Order Date</th>
            <th scope="col">Items</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.orderDate }}</td>
            <td>
              <div *ngFor="let disc of order.discs">
                {{ disc.disc.band }} - {{ disc.disc.title }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>