<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <h2>Add new disc</h2>
        <div class="md-form">
          <label for="band">Band</label>
          <input type="text" [(ngModel)]="disc.band" class="form-control" id="band" name="band"
             required #name="ngModel">
        </div>
        <div class="md-form">
          <label for="title">Title</label>
          <input type="text" [(ngModel)]="disc.title" class="form-control" id="title" name="title"
            required #name="ngModel">
        </div>
        <div class="md-form">
          <input type="date" [(ngModel)]="disc.releaseDate" class="form-control" id="releaseDate" name="releaseDate"
            required #name="ngModel">
        </div>
        <div class="md-form">
          <label for="price">Price</label>
          <input type="text" [(ngModel)]="disc.price" class="form-control" id="price" name="price"
           required #name="ngModel">
        </div>
        <div class="md-form">
          <label for="amount">Amount</label>
          <input type="text" [(ngModel)]="disc.amount" class="form-control" id="amount" name="amount"
         required #name="ngModel">
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
</div>