<div class="container">
    <div class="card my-5">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #form="ngForm">
          <h2>Add new disc</h2>
          <div class="form-group">
            <label for="band">Band</label>
            <input type="text" [(ngModel)]="disc.band" class="form-control" id="band" name="band"
              placeholder="Enter band name" required #name="ngModel">
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" [(ngModel)]="disc.title" class="form-control" id="title" name="title"
              placeholder="Enter title" required #name="ngModel">
          </div>
          <div class="form-group">
            <label for="releaseDate">Date</label>
            <input type="date" [(ngModel)]="disc.releaseDate" class="form-control" id="releaseDate"
              name="releaseDate" placeholder="Release date" required #name="ngModel">
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="text" [(ngModel)]="disc.price" class="form-control" id="price" name="price"
              placeholder="Enter price" required #name="ngModel">
          </div>
          <div class="form-group">
              <label for="amount">Amount</label>
              <input type="text" [(ngModel)]="disc.amount" class="form-control" id="amount" name="amount"
                placeholder="Enter amount" required #name="ngModel">
            </div>
          <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>
        </form>
      </div>
    </div>
  </div>