<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Band</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Buy</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let disc of discs">
            <td>{{ disc.id }}</td>
            <td>{{ disc.band }}</td>
            <td>{{ disc.title }}</td>
            <td>{{ disc.price }}</td>
            <td>
              <form (ngSubmit)="buyItem(disc.id)" #userForm="ngForm">
                <button type="submit" class="btn btn-primary">Buy</button>
              </form>
            </td>
            <td>
              <form (ngSubmit)="remove(disc.id)" #userForm="ngForm">
                <button type="submit" class="btn btn-primary">Remove</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>