<div class="container">
  <div class="card my-5">
    <div class="card-body">

      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">
              <div>#ID</div>
            </th>
            <th scope="col">Name</th>
            <th scope="col">Deleted</th>
            <th scope="col">Save</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories ">
            <td>{{ category.id }}</td>
            <td><input type="text" [(ngModel)]="category.name" class="form-control" id="name" name="name" required
              #name="ngModel"></td>
            <td>
              <div *ngIf="category.deleted">
                <p class="text-danger font-weight-bold hover" (click)="remove(category.id)">Deleted</p>
              </div>
              <div *ngIf="!category.deleted">
                  <p class="text-success font-weight-bold hover" (click)="remove(category.id)">OK</p>
                </div>
            </td>
            <td><button class="btn btn-warning" (click)="update(category.id)">Update</button></td>
          </tr>
        </tbody>
      </table>
      <hr />
      <form (ngSubmit)="save()" #userForm="ngForm">
        <h2>Add new category</h2>
        <div class="md-form">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="category.name" class="form-control" id="name" name="name" required
            #name="ngModel">
        </div>
        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>
      </form>

    </div>
  </div>
</div>