<div class="container">
  <div class="card my-5">
    <div class="card-body">

      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">
              <div (click)="sortList(1)">#ID</div>
            </th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories ">
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
          </tr>
        </tbody>
      </table>
      <hr />
      <form (ngSubmit)="save()" #userForm="ngForm">
        <h2>Add new category</h2>
        <div class="md-form">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="category.name" class="form-control" id="name" name="name" required
            #name="ngModel">
        </div>
        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>
      </form>

    </div>
  </div>
</div>