<div class="container">
  <div class="d-flex justify-content-center">
    <p class="font-weight-bold">
      <div *ngIf="disc">
        <span class="d-block">
          <div *ngIf="infoMsg && infoMsg.length > 0">
            <div class="alert alert-danger" role="alert">
              {{ infoMsg }}
              <mat-progress-bar [value]="value"></mat-progress-bar>
            </div>
          </div>
            <div class="row">
              <div *ngFor="let image of disc.images">
                <a [href]="image" target="_blank"><img [src]="image" alt="Brak" class="discImg"></a>
              </div>
            </div>

            <div *ngIf="disc !== null">
              <h2>Tytuł:</h2>
              {{ disc.band }} - {{ disc.title }}
            </div>
            <h2>Data wydania</h2>
            {{ disc.releaseDate }}
            <br/>
            <h2>Opis</h2>
          {{disc.description}}
        </span>

        <h2>Cena</h2>
        <span class="d-block">
          {{ disc.price }}zł
        </span>
        <hr />
        <h2>Buy this disc</h2>
        <div class="md-form">
          <input placeholder="Enter amount to buy!" class="form-control" type="number" [(ngModel)]="amount">
          Cost: {{ disc.price * amount }}zł
          <button (click)="buy()" class="btn blue-gradient">Buy!</button>
        </div>
      </div>
  </div>
</div>